$primaryColor: #f37002;
$font-serif:'Open Sans','sans-serif';
$secondaryColor:#455A64;
$sectionBackground:#f8f6f3;
$footerBackground:#3b3b3b;
$mapTextColor:#fff;

*{
    box-sizing: border-box;
}
body{
    font-family: $font-serif;
    color:$secondaryColor;
    overflow-x: hidden;

}
.top_header {
   
        display: flex;
       
        justify-content: flex-end;

        li{
            margin:1%;
            font-family: $font-serif;
            text-transform:uppercase;
            font-size: 12px;
            color:#455A64;
            

        }
    
    

}

.main_header{
    display: flex;
    justify-content: space-between;
    background-color: #f8f6f3;
    .logo{
   
        background: url('https://raw.githubusercontent.com/varnitgoyal/TTN_ASSIGNMENTS/master/frontend_designs/newersWorld/assets/images/logo.png') no-repeat -200px -8px;
    
        width: 210px;
        height: 52px;
        margin:1%;
    
    }
  
    
}

.menu{
    margin-right: 4%;
    padding:1.5%;


    ul{
        display:flex;
        justify-content: space-between;
        align-items: center;

        
        
        li{
            white-space:nowrap;
            margin:2%;
            padding-bottom: 1%;
         
            font-family: $font-serif;
            text-transform:uppercase;
            
            color:#455A64;
        }
        li:hover{
            border-bottom: 4px solid orange;
            cursor: pointer;
        }

     
    }
}

.banner{
    position: relative;
    
    img{
        height:auto;
        max-height: 400px;
        opacity: 0.8;


    }
    
    .banner_text{
        position: absolute;
        top: 25%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        font-size: 32px;
        font-family: $font-serif;
        line-height: 1.5;
        .banner_border{
            width: 50px;
            text-align: center;
            margin: auto;
            margin-top: 3%;
            content: '';
            border-bottom: 6px solid $primaryColor;


        }
        strong{
            font-weight: 600;
        }
       
    }
}

.banner_technologies{
    position: absolute;
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: flex-end;
    
    
    bottom: -60px;

   
    li{
        
        margin:5%;
        i{    

            display: inline-block;
            width:100%;
            text-align: center;
            font-size: 48px;
            margin-bottom:3%;
        }
        h3{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
        }
        
    }

   
}

.achievements{
    margin-top: 1%;
    ul{
        display: flex;
        border-top:0.5px solid #ECEFF1;
        border-bottom:0.5px solid #ECEFF1;

        justify-content: space-around;


        li{
            border-right:1px solid #ECEFF1;
            
            padding: 3%;
            max-width: 300px;
           
            h3{
                color:$primaryColor;
                font-family: $font-serif;
                font-size: 32px;
                
                text-align: center;
                line-height: 2;
            }
            p{
                color: $secondaryColor;
                font-size:18px;
                text-align: center;

            }

        }
    }
}

.sub_heading_border{
    width: 50px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    content: '';
    border-bottom: 6px solid $primaryColor;

    
}

.powered_by{
    background-color: $sectionBackground;
    padding-top: 1%;

    h2{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        color:$secondaryColor;
        margin-top: 4%;



        
    }

    .sub_heading_text{
        margin-top: 1%;
        margin-right: 8%;
        margin-left: 8%;
        font-size: 20px;
        text-align: center;
        line-height: 1.5;
        color: $secondaryColor;


    }
    

}


.list_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2%;

    li{
        margin:1%;

        .direction--normal{
                
            flex-direction: row;
            margin-left: -1.3%;
            margin-right: 10%;
            padding-left: 0;


        }
        .direction--reverse{
            flex-direction: row-reverse;
            margin-right: -1.3%;
            margin-left: 10%;

            padding-right: 0;
        }
        ul{
            justify-content: flex-start;
            display: flex;
         


            
            li:first-child{
                min-width: 60%;
                

            }
        

            li{
                p{
                    text-align: left;
                    font-size: 18px;
                    line-height: 1.5;
                     color: $secondaryColor;
                }
                h3{
                    font-size: 24px;
                    color: black;
                    font-weight: 800;
                    line-height: 1.5;
                    
                }
            }
            
        }
    }
}


button.primary--transparent{

    min-width: 90px;
    min-height: 35px;
    color: $primaryColor;
  
    outline-style: none;
  
    border-style: solid;
  
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-color: $primaryColor;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 3%;
    

}
button.primary--solid{
    min-width: 90px;
    min-height: 41px;
    color: #fff;
  
    outline-style: none;
  
    border-style: solid;
  
    background-color:$primaryColor;
    border-width: 1px;
    border-color: $primaryColor;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 3%;

}

input[type=text].white--primary{
    min-width: 20px;
    min-height: 35px;
    margin-right: -0.6%;
    margin-top: 2%;

}

/*Map Section Starts Here*/

.map{
    padding: 2%;
    background-color: #181818;
    height: auto;
    
    
    h2{
        text-align: center;
        font-size:28px;
        font-weight: 600;
        color: #fff;
    }
 
}
.map_image{
    background-image: url("map.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    height: auto;

    .map_content{
        display: flex;
        justify-content: space-between;
        color: $mapTextColor;

    }

    .achievements_list{
        background-color: #292929;
        border-radius: 5px;
        max-width: 8%;
        padding:1%;

        h3{
            font-size: 24px;
            color: $primaryColor;
            line-height: 1.5;
            
        }
        p{
            line-height: 1.5;
        }
    }

    .locations{
        background-color: #292929;
        border-radius: 5px;
        max-width: 15%;
        padding:1%;
        max-height: 100px;
        p{
            line-height: 2;
        }



    }

}




/* Footer Section Starts Here */

footer{
    background-color: $footerBackground;
    color: #fff;
    padding: 2%;


    .first_row ul {
        display: flex;
        justify-content: space-around;

        .second_column{
            min-width: 35%;
        }
    }


    .second_row {
        display: flex;
        justify-content: center;
        align-items: center;
        
        p{
            margin-left: 2%;
        }
    }


}


.footer--text--big{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    
    p{
        margin-left: 3%;
    }
}

.display--inline{
    display: inline-block;
    margin:1%;

}

.dot{
    filter: blur(2px);
    color: $primaryColor;
    font-size: 12px;
    

}
.dot--purple{
    color:#870083;
}


.social_icons{
        margin-top: 3%;
    
        background: url('https://web.archive.org/web/20150912062535im_/http://www.tothenew.com/images/xsprite.png.pagespeed.ic.KKIc7UT3LT.png') no-repeat -7px -6px;
        width: 340px;
        height: 50px;
    
}
