@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import 'variables';
@import 'mixins';
@import 'global';

.responsive_bar {
  display: none;
}

.container {
  width: 100%;
}

header {
  background-image: url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 100px;
}
.top_header {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
  color: #fff;
}
.top_header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    font-family: $font-family-sans;
    font-size: 18px;
  }
  nav {
    margin-right: 1.5%;
  }

  .nav_items {
    display: flex;

    li {
      margin-right: 4%;
      font-family: $font-family-sans;
      font-size: 18px;
    }
    li:last-child {
      margin-right: 0;
    }

    margin-right: 1%;
  }
}

.rest_header {
  text-align: center;
  margin-top: 100px;

  h2 {
    text-align: center;
    color: $secondary-color;
    font-family: $font-family-sans;
    line-height: 2;
    font-size: 3rem;
  }

  .header_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1%;
    font-family: $font-family-sans;

    .card_item {
      text-align: center;
      line-height: 1.5;
      margin-right: 2%;
      border-right: 2px solid gray;
      padding-right: 50px;

      i {
        font-size: 2rem;
        color: $primary-color;
        line-height: 1.5;
      }
    }
    li:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 100px;
  text-align: center;

  li {
    img {
      border-radius: 50%;
    }
    line-height: 1.5;
    max-width: 25%;
  }
}

.get_in_touch {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  padding: 100px;
}

.small-fields {
  display: flex;
  justify-content: flex-start;

  text-align: left;
  width: 100%;
}

.small_field_wrapper {
  width: 100%;
}

.button-primary {
  color: $primary-color;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $primary-color;
  border-radius: 20px;
  outline-style: none;
  padding: 10px;
  text-align: center;
  width: 75%;
  margin-top: 50px;
}

.button-secondary {
  color: $secondary-color;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $secondary-color;
  border-radius: 20px;
  outline-style: none;
  padding: 10px;
  text-align: center;
  min-width: 185px;
  margin-top: 50px;
  width: 185px;
}

.action_button {
  width: 185px;
}
.input-secondary {
  width: 99%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid $secondary-color;
  padding: 10px;
  margin-bottom: 10px;
}

.textarea-secondary {
  text-align: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid $secondary-color;
  padding: 10px;
}
.label-block {
  display: block;
  text-align: left;
  line-height: 2;
}

.copyright_text {
  margin-top: 50px;
}

@import 'mediaQueries';